<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalDashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalDashboardAppProj.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">

                    <!-- Header -->
                    <li class="nav-header" style="padding-bottom:0;">
                        <div class="dropdown profile-element">

                            <a asp-controller="Dashboards" asp-action="Dashboard_1" asp-area="" class="m-t-lg"><img src="~/images/logos/rubixxhousing.png" /></a>
                        </div>
                        <div class="logo-element">
                            <a><img style="width:50px" src="~/images/logos/Rubixx_Symbol_Colour.png" /></a>
                        </div>
                    </li>

                    <!-- Dashboard -->
                    <li>
                        <a asp-controller="Dashboards" asp-action="Dashboard_1" asp-area=""><i class="fa fa-dashboard"></i><span class="nav-label">Dashboard</span></a>
                    </li>

                    <!-- Properties -->

                    <li>
                        <a href="@Url.Action("Index", "Property")"><i class="fa fa-home"></i><span class="nav-label">Properties</span></a>
                    </li>

                    <!-- Work Orders -->
                    <li>
                        <a onclick="HandleTotalMobile()"><i class="fa fa-list-alt"></i><span class="nav-label">Work Orders</span></a>
                    </li>

                    <!-- CRM -->
                    <li>
                        <a href="@Url.Action("Index", "CRM")"><i class="fa fa-exchange"></i><span class="nav-label">CRM</span></a>
                    </li>
                    <!-- People -->
                    <li ">
                        <a href="@Url.Action("Index", "People")"><i class="fa fa-users"></i><span class="nav-label">People</span></a>
                    </li>

                    <li>
                        <a href="/account/logout">
                            <i class="fa fa-sign-out"></i><span class="nav-label">Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PersonalDashboardAppProj - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
